.searchBar {
    background-image: url('../../assets/background_search_desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 4.5rem;
    height: 25rem;
}

.radioHidden {
    display: none;
} 

.radioLabel {
    margin: 8rem 0 1rem 0;
    padding: 5px 25px;
    display: inline-block;
    color: white;
    border-bottom: solid 1px white;
    cursor: pointer;
    user-select: bold;
}

.radioHidden:checked + .radioLabel {
    font-weight: bold;
    color: goldenrod;
    border-bottom: solid 1px goldenrod;
  }

.inputText {
    width: 20%;
    padding: 0.5rem;
    margin: 1rem 20px;
    font-size: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: left;;
}

.buttonSubmit {
    background-color: darkgoldenrod;
    color: cornsilk;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block
}
